<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GiveCoin</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/Charity_explanation.css">
    <link rel="stylesheet" href="/css/Budget_view.css">
    <script src="/javascripts/Charity_explanation.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<header>
    <div class="Header_logo"><a href="/index"><img src="/image/LOGO.svg" alt="logo"></a></div>
    <div class="Header_Charity"><a href="/charity">후원단체보기</a></div>
    <div class="Header_Notice"><a href="/notice/list">공지사항</a></div>
    <div class="Header_search">
        <input type="text" class="Search_text">
        <img src="/image/Search_Btn.svg" alt="Btn" class="Search_Btn" onclick="location.href='../html/#'">
    </div>
    <div class="Header_Sign">
         <div class="SignUp"><a id="mypage" href="<%= link%>"><%=val1%></a></div>
         <div class="LogIn"><a id="logout" href="/auth/login"><%=val2%></a></div>
    </div>
</header>
<section class="Section">
    <div class="box">
        <hr class="h">
        <h1>후원단체 소개</h1>
        <div class="Small_box">
            <div class="explain_img"><img style="" src="<%= imgR.image%>"></div>
            <div class="explain_box">
                <div class="explain_content">
                    <div class="explain_row">
                        <h3>후원단체명</h3>
                        <h3 class="need_left"><%=row.name%></h3>
                    </div>
                    <div class="hr"></div>
                    <div class="explain_row">
                        <h3>문의 메일</h3>
                        <h3><%=row.email%></h3>
                    </div>
                    <div class="hr"></div>
                    <button class="budget_btn" onclick="show()">예산서보기</button>
                </div>
                <section id="Budget_section">
                    <div class="budget_title">예산서 보기</div>
                    <div class="date_section">
                        <div class="list_title">날짜</div>
                        <div class="list_content"><%=row.startdate%> ~ <%=row.enddate%></div>
                    </div>
                    <div class="account_section">
                        <div class="list_title_account">거래처</div>
                        <div class="list_content"><%=row.client%></div>
                    </div>
                    <div class="expenditure_section">
                        <div class="list_title_expend">지출</div>
                        <div class="list_content"><%=row.price%></div>
                    </div>
                    <div class="content_section">
                        <div class="list_title_expend">내용</div>
                        <div class="list_content">
                            <%=row.content%>
                        </div>
                    </div>
                    <button class="close_btn" onclick="hide()">닫기</button>
                </section>
            </div>
        </div>
        <p class="p"><%=row.intro%>
        </p>
        <hr class="h">
        <h1>프로젝트 소개</h1>
        <h3 id="project_Name"></h3>
        <p>
            <%=row.content%>
        </p>
        <hr class="h2">
        <form action=<%="/charity/read/"+seq%> method="post">
        <div class="donation_section">
                <button type="submit" class="donation_btn">후원하기</button>
        </div>
        </form>
    </div>
</section>
<footer>
    <hr>
    <div class="Up_footer">
        <div class="Footer_Text"><a href="">회원가입약관</a></div>
        <div class="Footer_Text"><a href="">서비스이용약관</a></div>
        <div class="Footer_Text"><a href="">개인정보처리방침</a></div>
        <div class="Footer_Text"><a href="">공지사항</a></div>
        <div class="Footer_Text"><a href="">SNS</a></div>
    </div>
    <hr>
    <div class="Down_footer">
        <div class="Left_footer">
            <img src="/image/LOGO.svg" alt="LOGO" class="Footer_logo">
            <div class="Customer_Service">기브코인 고객센터</div>
            <div class="Service_Num">1900-2470</div>
        </div>
        <div class="Right_footer">
            기브코인플랫폼(주) | 팀장 김예은 | 사업자 등록번호 0907 <br>
            서울시 노원구 공릉로 232  서울과학기술대학교 미래관 3층
        </div>
    </div>
    <script src="../javascripts/index.js"></script>
</footer>
</body>
</html>